apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: hostpath-csi-controller
  namespace: '{{ meta.namespace }}'
spec:
  serviceName: "hostpath-csi-controller"
  selector:
    matchLabels:
      app: hostpath-csi
  replicas: {{ replicas }}
  template:
    metadata:
      labels:
        app: hostpath-csi
    spec:
      containers:
#      # Hostpath CSI plugin container - Only one driver required for hostpath plugin - we can rely on DaemonSet's Hostpath container to handlel control functions.
#      # This will typically by uncommented and running your driver to handle all Control functions (i.e. Create/Delete Volume, ControllerPublishVolume, etc)
#      - name: hostpath-csi-driver
#        image: {{ driver.repo }}/hostpathplugin:v1.3.0
#        imagePullPolicy: {{ driver.image_pull_policy }}
#        args:
#        - --drivername=hostpath.csi.k8s.io
#        - --v={{ log_level }}
#        - --endpoint=$(CSI_ENDPOINT)
#        - --nodeid=$(KUBE_NODE_NAME)
#        env:
#        - name: CSI_ENDPOINT
#          value: unix:///csi/csi.sock
#        - name: KUBE_NODE_NAME
#          valueFrom:
#            fieldRef:
#              apiVersion: v1
#              fieldPath: spec.nodeName
#        ports:
#        - containerPort: 9898
#          name: healthz
#          protocol: TCP
#        livenessProbe:
#          failureThreshold: 5
#          httpGet:
#            path: /healthz
#            port: healthz
#          initialDelaySeconds: 10
#          timeoutSeconds: 3
#          periodSeconds: 2
#        volumeMounts:
#          - name: socket-dir
#            mountPath: /csi
#          - name: csi-data-dir
#            mountPath: /csi-data-dir
#        securityContext:
#          privileged: true
#
#      # CSI Livenessprobe - this container probes the socket-dir to ensure HostPath driver is alive
#      - name: liveness-probe
#        image: {{ sidecar.repo }}/livenessprobe:v2.0.0
#        imagePullPolicy: {{ sidecar.image_pull_policy }}
#        args:
#        - --csi-address=/csi/csi.sock
#        - --health-port=9898
#        volumeMounts:
#          - name: socket-dir
#            mountPath: /csi

      # provisioner - interacts with kube API for PV/PVC objects, sends calls to socket-dir
      - name: csi-provisioner 
{% if k8s_version >= '1.18.0' %}
        image: {{ sidecar.repo }}/csi-provisioner:v1.6.0
{% elif k8s_version >= '1.17.0' %}
        image: {{ sidecar.repo }}/csi-provisioner:v1.5.0
{% elif k8s_version >= '1.16.0' %}
        image: {{ sidecar.repo }}/csi-provisioner:v1.4.0
{% elif k8s_version >= '1.15.0' %}
        image: {{ sidecar.repo }}/csi-provisioner:v1.3.1
{% elif k8s_version >= '1.14.0' %}
        image: {{ sidecar.repo }}/csi-provisioner:v1.2.0
{% else %}
        image: {{ sidecar.repo }}/csi-provisioner:v0.4.2
{% endif %}
        imagePullPolicy: {{ sidecar.image_pull_policy }}
        args:
          - "--csi-address=/csi/csi.sock"
          - "--v={{ log_level }}"
          - "--feature-gates=Topology=true"
        volumeMounts:
          - name: socket-dir
            mountPath: /csi

      # attacher - interacts with kube API for VolumeAttachment objects, sends calls to socket-dir
      - name: csi-attacher
        image: {{ sidecar.repo }}/csi-attacher:v2.1.0
        imagePullPolicy: {{ sidecar.image_pull_policy }}
        args:
          - "--v={{ log_level }}"
          - "--csi-address=/csi/csi.sock"
        volumeMounts:
          - name: socket-dir
            mountPath: /csi

      # resizer - interacts with kube API for resize mods to PV/PVC objects, sends calls to socket-dir
      - name: csi-resizer
        image: {{ sidecar.repo }}/csi-resizer:v0.4.0
        imagePullPolicy: {{ sidecar.image_pull_policy }}
        args:
          - "--v={{ log_level }}"
          - "--csi-address=/csi/csi.sock"
          - "--leader-election"
        volumeMounts:
          - name: socket-dir
            mountPath: /csi 

      serviceAccount: hostpath-csi-controller
      volumes:
        # This volume is where the socket for CSI sidecar->driver communication is done
        # Typically only needs to be an EmptyDir but in this case, HostPath's DaemonSet driver container will also need to listen for calls
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/csi-hostpath
            type: DirectoryOrCreate
